
    <img src="../../../assets/drugs/panadolextra.jpg">
    <div class="productittle float-left "><b>Panadol Extra</b> <b class=" float-left" id="price">UGX 5000.00</b> </div>
    <div class="productprice float-left">
        <p class=" float-none">
            Panadol reliefs off of pain ,headaches and backpain.Most effective to individuals of less sulpur or 
            Iodine in their Bodies.  
        </p>
    </div>
       
   <button class="btn btn-outline-primary float-right btn-space">Purchase</button>