<app-header></app-header>
<div class="container">
  <div class="row">
    <div class="col-sm-3">
      <p>Have the Navigations</p>
      <h4>Drug & Medication</h4><hr> 
      <ul class="list-unstyled ">
        <li class=""><a href="" >find a Drug</a></li><hr size="10">
        <li><a href="">My medicine</a></li><hr>
        <li><a href="">pill Identifier</a></li><hr>
        <li><a href="">find a vitamin</a></li><hr>
        <li><a href="">find a phamarcy</a></li><hr>
      </ul> 
      <h5>Vitamines & Supplements</h5><hr>
      <ul class="list-unstyled ">
        <li class=""><a href="" >find a vitamine or Supplement</a></li><hr>
        <li><a href="">Vitamin lifestyle Guide</a></li><hr>
        
      </ul> 
      <h4>First Aid Resourses</h4><hr>
      <ul class="list-unstyled ">
        <li class=""><a href="" >first aid hones</a></li><hr>
        <li><a href="">first aidkit & wound Care</a></li><hr>
         </ul> 
    </div>
    <div class="col-sm-9">
        <div class="row" id="search"> 
            <form>
              <input type="text" placeholder="Search..." required id="search">
              <input type="button" value="search" id="button" class="btn btn-outline-success">
            </form>
        </div>
          <div class="row"> 
              <div class="col-sm-3"> <app-drug></app-drug></div>
              <div class="col-sm-3"> <app-drug></app-drug></div>
              <div class="col-sm-3"> <app-drug></app-drug></div>
              <div class="col-sm-3"> <app-drug></app-drug></div>
              <div class="col-sm-3"> <app-drug></app-drug></div>
              <div class="col-sm-3"> <app-drug></app-drug></div>
             
          </div>
    </div>
  </div>
</div>
<app-footer></app-footer>
