<app-header></app-header>
<div class="container">
  <h5 class="section-title h1">OUR TEAM</h5>
  <div class="row">
<!-- Team member -->
<div class="col-xs-12 col-sm-6 col-md-4" *ngFor="let doctor of doctors">
  <div class="image-flip" ontouchstart="this.classList.toggle('hover');">
      <div class="mainflip">
          <div class="frontside">
              <div class="card" >
                  <div class="card-body text-center" >
                      <p><img class=" img-fluid" src="{{doctor.image}}" alt="card image"></p>
                      <h4 class="card-title">Doctor {{doctor.name}}</h4>
                      <h6 class="card-title"><em> {{doctor.category}}</em></h6>
                      <p class="card-text">{{doctorComment(doctor.category)}} in the Kinn Branch  of {{doctor.location}} 
                        in Uganda. 
                      </p>
                      <a href="#" class="btn btn-primary btn-sm"><i class="fa fa-plus"></i></a>
                  </div>
              </div>
          </div>
          <div class="backside">
              <div class="card">
                  <div class="card-body text-center mt-4">
                      <h4 class="card-title">Kinn Pharmarcy</h4>
                      <p class="card-text">Doctor {{doctor.name}}.<br></p>
                      <p class="card-text"> {{doctor.location}}, Uganda<br></p>
                        <ul class="list-inline">
                          <li class="list-inline-item">
                              <a class="social-icon text-xs-center" target="_blank" href="#">
                                  <i class="fa fa-facebook"></i>
                              </a>
                          </li>
                          <li class="list-inline-item">
                              <a class="social-icon text-xs-center" target="_blank" href="#">
                                  <i class="fa fa-twitter"></i>
                              </a>
                          </li>
                          <li class="list-inline-item">
                              <a class="social-icon text-xs-center" target="_blank" href="#">
                                  <i class="fa fa-skype"></i>
                              </a>
                          </li>
                          <li class="list-inline-item">
                              <a class="social-icon text-xs-center" target="_blank" href="#">
                                  <i class="fa fa-google"></i>
                              </a>
                          </li>
                      </ul>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>
  </div>
   
</div>
<app-footer></app-footer>
