<app-header></app-header>
<app-courasel></app-courasel>

<div class="container">
    <div class="row">
       <div class="col-md-4">
            <h5>Healthcare</h5> 

            <p>KINN is part of the International Medical Group (IMG), 
                so you can access care through a network of over 100 health service providers,
                 spread across the major districts and towns in Uganda.
            
                    These include International Hospital Kampala and International Medical Centres.</p>
       </div>
       <div class="col-md-4">
            <h5>Individual and Family Cover</h5> 

            <p>Kinn Medics has introduced a new individual / family package to ensure 
                everyone in Uganda benefits from Health insurance. 
                It provides you with Inpatient and Outpatient services at designated Hospitals and Clinics.</p>
       </div>
       <div class="col-md-4">
            <h5>Corporate Cover</h5> 

            <p>We know that efficiency and productivity are key issues that affect
                 your company's growth and because of that, you need your employees to be healthy. 
                 Our corporate products therefor are made to help you achieve this goal,
                 they are suitable for groups and companies with as low as 10 persons.</p>
       </div>
    </div>
    </div>

<div class="row" id="stories">
        <div class="col-md 4">
            <h2>TOP STORIES</h2>
            <img class="img-responsive" src="../assets/img.jpg" alt="">
            <h4><a href="">Genetic Testing:do you really Wnt to Know?</a></h4>
 
     </div>
     <div class="col-md 4">
             <h3><a href="">PCOS Tied In Mental Health Issues</a></h3><hr>
             <h3><a href="">Produce with The Most Pesticides:Anual 'Dirty Dozen'List</a></h3><hr>
             <h3><a href="">Experts Warn of Emerging 'Stimulant Epidemic</a></h3><hr>
             <h3><a href="">PCOS Tied In Mental Health Issues</a></h3><hr>
  
      </div>
      <div class="col-md 4">
             <h3><a href="">Could a Weighted Blanket Help You Sleep Better?</a></h3><hr>
             <h3><a href="">Man Has The Worse Case Of  Super-Gonorrhea</a></h3><hr>
             <a class="btn btn-outline-success float right">View More Top Stories</a>
  
      </div>
      </div>
      <hr id="divider">
<app-footer></app-footer>
