<footer>
  <section class="nb-footer">
  <div class="container">
  <div class="row">
  <div class="col-md-3 col-sm-6">
    <div class="footer-single">
    <!-- 	<img src="images/logo.png" class="img-responsive" alt="Logo"> -->
  
      <!-- This is only for better view of theme if you want your image logo remove div dummy-logo bellow and replace your logo in logo.png and uncomment logo tag above-->
    <div class="dummy-logo">
    <div class="icon pull-left brand">
      <i class="fa fa-copy"></i>
    </div>
      <h2>KINN Medics</h2>
      <p>Leave Healthy Live Longer</p>
    </div>
  
      <p>Do you Know that you can Get Medical services in your timing by the right doctors?.This is ... </p>
      <a href="" class="btn btn-footer">Read More</a>
    </div>
  </div>
  
  <div class="col-md-3 col-sm-6">
    <div class="footer-single useful-links">
     <div class="footer-title"><h2>Navigation</h2></div>
     <ul class="list-unstyled">
              <li><a href="">Home<i class="fa fa-angle-right pull-right"></i></a></li>
              <li><a href="">find a phamarcy<i class="fa fa-angle-right pull-right"></i></a></li>
              <li><a href="">Branhces<i class="fa fa-angle-right pull-right"></i></a></li>
              <li><a href="">Doctors <i class="fa fa-angle-right pull-right"></i></a></li>
              <li><a href="">My Account <i class="fa fa-angle-right pull-right"></i></a></li>
              <li><a href="">Contact Us <i class="fa fa-angle-right pull-right"></i></a></li>
  </ul> 
  </div>
  </div> 
  <div class="clearfix visible-sm"></div>
  
  <div class="col-md-3 col-sm-6">
    
    <div class="col-sm-12 left-clear right-clear footer-single footer-project list-inline">
      <div class="footer-title"><h2>Social Contacts</h2></div>
      
      <div class="col-xs-4">
       
      </div>
      <div class="col-xs-4">
        <img src="" class="img-responsive center-block">
      </div>
      <div class="col-xs-4">
        <img src="" class="img-responsive center-block">
      </div>
      <div class="clearfix"></div>
      <div class="col-xs-4">
        <img src="" class="img-responsive center-block">
      </div>
      <div class="col-xs-4">
        <img src="" class="img-responsive center-block">
      </div>
      <div class="col-xs-4">
        <img src="" class="img-responsive center-block">
      </div>
  
    </div>
  
  </div>
  
  <div class="col-md-3 col-sm-6">
    <div class="footer-single">
      <div class="footer-title"><h2>Contact Information[Head Office]</h2></div>
      <address>
        C456,Namaanda Plaza, Kampala<br>
        Kampala Road, Kampala <br>
        <i class="fa fa-phone"></i>  0771234567<br>
        <i class="fa fa-fax"></i> 0751234567<br>
        <i class="fa fa-envelope"></i> KinnMedics@gmail.com<br>
      </address>					
    </div>
  </div>
  
  	
</div>
  <section class="nb-copyright">
  <div class="container">
  <div class="row">
  <div class="col-sm-6 copyrt xs-center">
    2018 © All Rights Reserved. <a href="">Terms & Conditions</a> | <a href="">Privacy Policy</a>
  </div>
  <div class="col-sm-6 text-right xs-center">
    <ul class="list-inline footer-social">
      <li><a href=""><i class="fa fa-facebook"></i></a></li>
      <li><a href=""><i class="fa fa-twitter"></i></a></li>
      <li><a href=""><i class="fa fa-youtube-play"></i></a></li>
      <li><a href=""><i class="fa fa-google-plus"></i></a></li>
      <li><a href=""><i class="fa fa-skype"></i></a></li>
    </ul>
  </div>
  </div>
  </div>
  </section>
 
</div>
</section>
</footer>